<div class="jumbotron text-center mt-4">
    <h4>Welcome to Vidjot</h4>
    <hr class="my-4">
    <a href="/ideas/new" class="btn btn-outline-dark">Create your idea <i class="fa fa-chevron-right"></i></a>
</div>

<h1>hello world</h1>